name: Test

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: clang llvm gcc-multilib libbpf-dev

      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '>=1.20.0'
          cache: true

      - name: Install swaggo
        run: go install github.com/swaggo/swag/cmd/swag@v1.8.12

      - name: Generate project dependencies
        run: go generate -v ./cmd/...

      - name: Go vet
        run: go vet ./cmd/...

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          working-directory: ./cmd/eupf

      - name: Test
        run: sudo go test -v go test ./cmd/eupf/...

      - name: Build
        run: go build -v -o bin/eupf ./cmd/eupf
